<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">DatGob</h1>
    <p class="lead">Una forma sencilla de acceder a los datos que nos poporciona el gobierno.</p>
  </div>
</div>

<ul class="list-group">
  <li class="list-group-item">Cras justo odio</li>
  <li class="list-group-item">Dapibus ac facilisis in</li>
  <li class="list-group-item">Morbi leo risus</li>
  <li class="list-group-item">Porta ac consectetur ac</li>
  <li class="list-group-item">Vestibulum at eros</li>
</ul>