<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">DatGob</h1>
    <p class="lead">Una forma sencilla de acceder a los datos que nos poporciona el gobierno.</p>
  </div>
</div>

<div class="container">
  <h1>Instrucciones</h1>

  <ul class="list-group">
    <li class="list-group-item"><i class="far fa-hand-point-right"></i> Explora la home en busca de datos </li>
    <li class="list-group-item"><i class="far fa-hand-point-right"></i> Siempre que aparezca el boton de descarga los datos estaran disponibles <span class="col-2 md:col-1 align-middle pt-3"><span target="_blank" class="btn btn-primary"><i class="fas fa-download"></i></span></span></li>  
    <li class="list-group-item"><i class="far fa-hand-point-right"></i> Puedes utilizar las etiquetas azules para hacer busquedas <div class="d-inline"><span class="badge badge-primary mr-1">Ejemplo</span></div></li>    
    <li class="list-group-item"><i class="far fa-hand-point-right"></i> Puedes utilizar este buscador para encontrar el termino que necesites <app-search></app-search></li>
  </ul>
</div>