<div class="mt-5">
  <h1 class="pl-5">Datos del gobierno de españa</h1>   

  <span class="pagination pl-5 mb-3">
    <span (click)="paginacion(1)" class="page"><i class="fas fa-chevron-circle-left mr-2"></i></span>
    <span class="">Page:  {{page}}</span>
    <span (click)="paginacion(2)" class="page"><i class="fas fa-chevron-circle-right ml-2"></i></span>
  </span>

  <div class="card-columns row pl-5 pr-5">
    <div class="card col-12" *ngFor="let c of CA">    
      <div class="card-body">
        <h5 class="card-title">{{c.title}}</h5>
        <p>{{c.description[0]._value}}</p>
        
        <hr>       

        <span class="row">
          <span *ngIf="c.distribution.accessURL" class="col-2 md:col-1 align-middle pt-3 border-right"><a href="{{c.distribution.accessURL}}" target="_blank" class="btn btn-primary"><i class="fas fa-download"></i></a></span>
          <span class="col-10 md:col-11">
            <p><b>#Tags</b></p>  
            <div class="d-inline" *ngFor="let key of c.keyword">        
              <a [routerLink]="['/datos/'+key]" class="badge badge-primary mr-1">{{key}}</a>
            </div>    
          </span>
        </span>
        
      </div>
    </div>
  </div>
</div>